/* .aatulya-responsive {
    display: flex;
    flex-direction: column;
    height: 100vh;

  }


  .aatulya-header {
    background-color: #e2e8f0;
    padding: 1rem;
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aatulya-body {
    display: flex;

    border: 2px solid #e2e8f0;
  }

  .aatulya-body  {
    width: 100vw;
    padding: 1rem;
    overflow-y: auto;
  }

  .aatulya-body a {
    text-decoration: none;
    color: inherit;
  }

  .aatulya-body  {
    display: flex;
    background-color: #d1d5db;
    border-radius: 10px;
    margin: 1rem 0;
    transition: transform 0.3s;
  }

  .aatulya-body:hover {
    transform: translateY(-5px);
  }

/*

  .img {
    height: 80%;
    border-radius: 10px;
  } */




  /* button:hover {
    background-color: #374151;
    transform: scale(1.05);
  } */

  /* input[type='text'] {
    background-color: #1f2937;
    color: #f9fafb;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 70vw;
    margin-right: 0.5rem;
  } */

  /* p {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  } */

    .aatulya-blog {
    padding: 2rem;
    width: 80%;
    position: relative;
    left: 10%;
    align-items: center;
  }

  ReactQuill img{
    height: 70vh;
  }


@media screen and (max-width : 700px) {
  .text-base{
    visibility: hidden;
  }


}
